*{
    margin:0;
    padding:0;
    box-sizing:boder-box;
}
#A{
    border:15px solid greenyellow;
    padding:35px;
    /* padding->(top, right, bottom, left) */
    margin:25px;
    width:250px;
    height:250ox;

}
#B{
    border:15px solid greenyellow;
    padding:35px;
    /* padding->(top, right, bottom, left) */
    margin:25px;
    width:250px;
    height:250ox;


}