/* p{

} */
 /* -->This above is nothing else but Element Selector Only */


/* 1. Element Selector */

/* p{
    color:red;
}
h2{
    color:white;
    background-color:Black;
} */

/* 2.ID Selector */

/* #one{
    color:blue;
}
#two{
    color:brown;
}
#three{
    color:Yellow;
} */


/* Nested Selector */

/* #one, #two{
    color:Brown;
} */


/* 3.Class selector */

/* .p1C{
    color:Blue;
}
.p2C{
    background-color:Yellow;
}
.p3C{
    color:aqua;
}
.p4C{
    font-size:large;
    background-color:black;
} */

/* Universal Selector */
/* 
*{
    font-family: 'Courier New', Courier, monospace;
    color:green;
} */

/* Descendent Selector */

/* #descSel p{  
    color:red;
} */


/* Direct Child Selector */

#dircSel > p{
    color:red;
}



